html, body {
  margin: 0;
  padding: 0;
}


button {
	outline: none;
	font-size: 15px;
	color: white;
	padding: 10px;
	border-radius: 5px;
  border: 10px solid white;
  margin: 10px;
}

.selected {
  border: 10px solid rgba(0, 0, 0, 0);
}
