.Handle{
  position: absolute;
  top: 44%;
  color:rgba(14, 14, 14, 0.87);
  background: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 2rem;
  opacity: 0.7;
  transition-duration: 1s;
  cursor: ew-resize;
  box-shadow: 0 10px 10px 0 rgba(10, 10, 10, 0.432), 0 10px 10px 0 rgba(0, 0, 0, 0.315);
  z-index: 3;
}

.Handle:hover{
  color:rgba(0, 87, 8, 0.87);
  transform: scale(1.02);
}

.ImageCredits{
  position: absolute;
  bottom: 0px;
  background: black;
  color: #b7b7b7;
  right: 0px;
  z-index: 30;
  padding: 0px 10px;
  font-size: 10px;
}

.CompareIcon{
  position: absolute;
  z-index: 3;
}

canvas{
  margin: 0px !important;
  padding: 0px !important;
  position: absolute !important;
  top:0px !important;
  left: 0px !important;
  width: auto !important;
  height: 100% !important;
  max-width: 2048px !important;
  max-height: 1024px !important;
  cursor: none;
}

#objects-container {
  margin: 0px !important;
  padding: 0px !important;
  /* position: fixed !important;   */
  top:0px !important;
  left: 0px !important;
  height: 100% !important;
  max-width: 2048px !important;
  max-height: 1024px !important;
  /* z-index: 4 !important; */
}

.ResultImage{
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  max-width: 2048px !important;
  max-height: 1024px !important;
  height: 100% !important;
  z-index: 3 !important;
  display: block !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
}

.BackToDrawingBtn {
  top: 120px;
  z-index: 4;
  position: absolute;
}

.RemoveDraggableObject {
  transform: scale(1.5);
  position: absolute;
  margin: 0.5em;
  color: white;
  cursor: pointer;
}